
<div id="projectList" ng-show="listViewActive" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills">
                <li><a ng-click="new()">New</a></li>
                <li><a ng-click="edit()">Edit</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="gridStyle" ng-grid="gridOptions">
            </div>
           <!-- <ul>
                <li ng-repeat="project in projects">{{project}}</li>
            </ul>-->
        </div>
    </div>
</div>
<div id="projectDetail" ng-show="!listViewActive" class="container">
    <div class="col-md-8">
        <form name="dataEntryForm" id="dataEntryForm">
            <div class="form-group" ng-class="{error: dataEntryForm.name.$invalid && !dataEntryForm.name.$pristine}">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" ng-model="pr.project.name" required>
            <span ng-show="!dataEntryForm.site.$pristine && dataEntryForm.name.$error.required" class="help-inline">
                Required</span>
            </div>

            <div class="form-group" ng-class="{error: dataEntryForm.site.$invalid && !dataEntryForm.site.$pristine}">
                <label for="site">Website</label>
                <input type="url" class="form-control" id="site" name="site" ng-model="pr.project.site" required>
            <span ng-show="!dataEntryForm.name.$pristine && dataEntryForm.site.$error.required" class="help-inline">
                Required</span>
            <span ng-show="!dataEntryForm.site.$pristine && dataEntryForm.site.$error.url" class="help-inline">
                Not a URL</span>
            </div>


            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" ng-model="pr.project.description"></textarea>

            <br>
            <a href="#/projects" ng-click="cancelDataEntryForm()" class="btn btn-warning">Cancel</a>
            <button ng-click="save()" ng-disabled="dataEntryForm.$invalid"
                    class="btn btn-primary">Save
            </button>
            <a href="#/projects" ng-click="resetDataEntryForm()" class="btn btn-warning">Reset</a>
        </form>
    </div>
</div>